@import "./../../../styles/variables.scss";

:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: $secondary-color;
    color: white;
}

.login-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    form{
        display: flex;
        flex-direction: column;
        gap: 10px
    }

    input{
        height: 35px;
        width: 300px;
        border-radius: 5px;
    }

    p{
        font-size: 13px;
    }
    a{
        color:$primary-color;
        cursor: pointer;
    }
}

.logo-section{
    img{
        height: 240px;
    }
}

.btn-login{
    background-color: $primary-color;
    height: 35px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

